.holeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}

.holeBox h1 { 
    color: rgb(70, 0, 161);
    display: block;
}

.holeBox h2 {
    color: rgb(8, 111, 151);
    margin-top: -40px;
}

.playersScores {
    margin-top: -15px;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    height: 350px;}

.playerAndScore {
    display: flex;
    border: solid rgb(26, 142, 196) 2px;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(0, 70, 102);
}

.playerAndScore h3 {
    margin-left: 6px;
    color: white;
}

.playerAndScore input {
    height: 30%;
    width: 30%;
    font-family: 'Palanquin', sans-serif;
}

.playerAndScore button {    
    margin-right: 6px;
    font-family: 'Palanquin', sans-serif;
    width: 40px;
    background-color: rgb(0, 49, 82);
    color: rgb(255, 255, 255);
    border: orange 1px solid;
    border-radius: 30px;
    height: 80%;
    font-size: 0.5em;
    line-height: 8px;
}